Repository qgissverige/lantmateriet-qgis-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling, ui

Configuration validation and automatic scope handling
  lantmateriet_qgis/core/settings.py
  lantmateriet_qgis/core/util/oauth_config.py
  lantmateriet_qgis/gui/dlg_access.py
  lantmateriet_qgis/gui/dlg_settings.py
  lantmateriet_qgis/gui/dlg_settings.ui
Labels: ui

Update changelog for prerelease
  CHANGELOG.md
  mkdocs.yml
Labels: none

Fix custom URL validation
  lantmateriet_qgis/gui/dlg_settings.py
Labels: ui

Fix scope management for incomplete oauth configurations
  lantmateriet_qgis/gui/dlg_settings.py
Labels: ui

No longer double-ziping the plugin artifact
  .github/workflows/build-release.yml
Labels: ci-cd, tooling

Documentation for settings and quick start
  .github/workflows/build-release.yml
  .pre-commit-config.yaml
  README.md
  docs/bidragsgivare-sweco.svg
  docs/development/contribute.md
  docs/index.md
  docs/licens.md
  docs/stylesheets/customization.css
  docs/usage/algoritmer/download-addresses-bounding.md
  docs/usage/algoritmer/download-addresses-polygons.md
  docs/usage/algoritmer/download-properties-bounding.md
  docs/usage/algoritmer/download-properties-polygons.md
  docs/usage/index.md
  docs/usage/installation.md
  docs/usage/installningar-anslutning.png
  docs/usage/installningar-atkomstnycklar.png
  docs/usage/installningar-oversikt.png
  docs/usage/installningar.md
  docs/usage/snabbstart.md
  docs/usage/sokning.md
  docs/usage/uttryck.md
  lantmateriet_qgis/gui/dlg_settings.ui
  lantmateriet_qgis/resources/images/lanq16b.svg
  mkdocs.yml
Labels: ci-cd, documentation, tooling, ui

Add help link to auth creation dialog
  lantmateriet_qgis/gui/dlg_access.py
  lantmateriet_qgis/gui/dlg_settings.py
Labels: ui

Let user decide which connections to add
  .github/workflows/auto-labeler.yml
  .github/workflows/documentation.yml
  .github/workflows/tester.yml
  lantmateriet_qgis/gui/dlg_settings.py
Labels: ci-cd, tooling, ui

Fix link in README
  README.md
Labels: documentation

Improve error handling in locators
  lantmateriet_qgis/core/locators/address.py
  lantmateriet_qgis/core/locators/base.py
  lantmateriet_qgis/core/locators/gemensamhetsanlaggning.py
  lantmateriet_qgis/core/locators/property.py
Labels: none

Adjust enum names for QGIS 4 compatibility
  lantmateriet_qgis/core/clients/base.py
  lantmateriet_qgis/core/clients/fastighetsindelningdirekt.py
  lantmateriet_qgis/core/locators/base.py
  lantmateriet_qgis/core/settings.py
  lantmateriet_qgis/core/util/base_locator.py
  lantmateriet_qgis/gui/dlg_settings.py
  lantmateriet_qgis/processing/download_addresses.py
  lantmateriet_qgis/processing/download_properties.py
Labels: ui

Use proper logo
  README.md
  docs/logo.svg
  lantmateriet_qgis/metadata.txt
  lantmateriet_qgis/resources/images/default_icon.png
  lantmateriet_qgis/resources/images/lanq16b.svg
  lantmateriet_qgis/resources/images/logo.svg
  mkdocs.yml
Labels: documentation

Fix build configuration
  .github/workflows/build-release.yml
Labels: ci-cd, tooling

Fix name of height download service
  lantmateriet_qgis/gui/dlg_settings.py
  lantmateriet_qgis/gui/dlg_settings.ui
Labels: ui

Add documentation about access keys
  docs/usage/installningar.md
  docs/usage/installningar/atkomstnycklar.md
  docs/usage/snabbstart.md
  mkdocs.yml
Labels: documentation

Release v1
  .github/workflows/build-release.yml
  CHANGELOG.md
  docs/usage/snabbstart.md
  lantmateriet_qgis/metadata.txt
  pyproject.toml
Labels: ci-cd, documentation, tooling

Release v1
  .github/workflows/build-release.yml
  CHANGELOG.md
  docs/usage/snabbstart.md
  lantmateriet_qgis/metadata.txt
  pyproject.toml
Labels: ci-cd, documentation, tooling

Fix logging on errors in locator
  lantmateriet_qgis/core/locators/base.py
Labels: none

Add logging to settings storing/loading
  lantmateriet_qgis/gui/dlg_settings.py
Labels: ui

Be more resilient in the kind of custom URL given
  lantmateriet_qgis/core/clients/base.py
Labels: none

Release v1.0.1
  .github/workflows/build-release.yml
  CHANGELOG.md
  lantmateriet_qgis/metadata.txt
  pyproject.toml
Labels: ci-cd, tooling

Fix crash when an OAuth2 configuration has a null scope
  CHANGELOG.md
  lantmateriet_qgis/core/settings.py
  lantmateriet_qgis/core/util/oauth_config.py
  lantmateriet_qgis/gui/dlg_settings.py
  tests/qgis/test_oauth_config.py
Labels: quality, ui

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: .github/**

dependencies:
  - changed-files:
    - any-glob-to-any-file:
        - requirements/*.txt
        - requirements.txt

documentation:
  - changed-files:
    - any-glob-to-any-file:
        - docs/**
        - requirements/documentation.txt
        - README.md

enhancement:
  - head-branch:
    - ^feature
    - feature
    - ^improve
    - improve

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - changed-files:
    - any-glob-to-any-file:
        - .pre-commit-config.yaml
        - .github/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
        - lantmateriet_qgis/**/*.ui
        - lantmateriet_qgis/gui/**
